:root {
  --color-primary: #f7cac9;
  --color-primary-dark: #fc9a98;
  --color-primary-light: #fceded;
  --color-primary-darkest: #470e0b;
  --color-secondary: #b3cee5;
  --color-secondary-dark: #84b5e0;
  --color-secondary-darker: #397097;
  --color-secondary-darkest: #05121c;
  --color-secondary-light: #c9dff7;
  --color-tertiary: #87d4b2;
  --color-tertiary-dark: #6caa8f;

  --color-gray-light: #f1f0f0;
  --color-gray: #d7d4d4;
  --color-gray-dark: #b3acac;
  --color-gray-darkest: #272222;

  --color-text-light: #ffffff;
  --color-text-dark: #111827;

  --color-bg-light: #f7f5f2;
  --color-bg-dark: #1f2937;
}
