:root {
  --color-primary: #f7cac9;
  --color-primary-dark: #fc9a98;
  --color-primary-light: #fceded;
  --color-secondary: #b3cee5;
  --color-secondary-dark: #84b5e0;
  --color-secondary-darker: #397097;
  --color-secondary-light: #c9dff7;
  --color-tertiary: #87d4b2;
  --color-tertiary-dark: #6caa8f;

  --color-text-light: #ffffff;
  --color-text-dark: #111827;

  --color-bg-light: #f7f5f2;
  --color-bg-dark: #1f2937;
}
